main {
  .features {
    .container {
      padding: 168px 0 77px 0;
      position: relative;
      .featuresTitleBox {
        position: relative;
        h2 {
          font-size: 48px;
          font-weight: 600;
          line-height: 70px;
          color: var(--title-color);
          text-align: center;
          text-transform: capitalize;
          position: relative;
          z-index: 1;
        }
        img {
          position: absolute;
          top: 35px;
          left: 915px;
        }
      }
      .featuresDescription {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        color: var(--description-color);
        max-width: 659px;
        margin: 0 auto;
        padding: 21px 0 69px 0;
      }
      .featuresWrapper {
        @include flex;
        gap: 32px;

        .featuresWrapperBox:nth-child(2) {
          background-color: #7562e0;
        }

        .featuresWrapperBox:nth-child(3) {
          background-color: #fa865f;
        }

        &Box {
          background-color: #70d0dc;
          padding: 0 66px 18px 0;
          color: var(--main-color);
          border-radius: 48px;
          box-shadow: 14px 20px 48px #190f2c0f;

          h3 {
            font-size: 28px;
            font-weight: 600;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 10px;
            margin-left: 28px;
          }
          p {
            font-family: "Inter";
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            opacity: 80%;
            max-width: 273px;
            margin-left: 28px;
          }
        }
      }
      .position {
        img {
          position: absolute;

          &:nth-child(1) {
            top: 148px;
            right: 301px;
          }

          &:nth-child(2) {
            top: 47px;
            left: 71px;
          }
        }
      }
    }
  }
  .analitics {
    .container {
      @include flex;
      padding: 70px 377px 145px 221px;
      justify-content: space-between;
      .analiticsBox {
        .analiticsBoxTitleContent {
          position: relative;
          .analiticsBoxTitle {
            color: var(--title-color);
            font-size: 48px;
            font-weight: 600;
            line-height: 68px;
            width: 568px;
            position: relative;
            z-index: 1;
          }
          img {
            position: absolute;
            top: 38px;
            left: 255px;
          }
        }
        .analiticsBoxDescription {
          color: var(--description-color);
          max-width: 561px;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          margin-top: 20px;
          margin-bottom: 48px;
        }
        .analivticsBoxWrapper {
          @include flex;
          flex-direction: column;
          gap: 48px;
          max-width: 477px;
          .analivticsBoxWrap {
            @include flex;
            gap: 24px;
            h3 {
              font-size: 28px;
              font-weight: 600;
              line-height: 36px;
              color: var(--description-color);
            }
            p {
              font-family: "Inter";
              font-size: 18px;
              font-weight: 400;
              line-height: 36px;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  .tracker {
    .container {
      @include flex;
      padding: 184px 0 156px 375px;
      justify-content: space-between;
      position: relative;
      .trackerWrapper {
        .trackerWrapperTitleBox {
          position: relative;
          margin-bottom: 20px;
          h2 {
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            color: var(--title-color);
            position: relative;
            z-index: 1;
          }
          img {
            position: absolute;
            top: 35px;
            left: 215px;
          }
        }
        .trackDescription {
          font-family: "Inter";
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          color: var(--description-color);
          max-width: 699px;
          margin-bottom: 64px;
          opacity: 0.8;
        }
        .analivticsBoxWrapper {
          @include flex;
          flex-direction: column;
          gap: 64px;
          .analivticsBoxWrap {
            @include flex;
            align-items: start;
            margin-left: -230px;
            gap: 48px;
            &:nth-child(2) {
              margin-left: 104px;
            }
            h3 {
              font-size: 28px;
              font-weight: 600;
              line-height: 36px;
              color: var(--description-color);
            }
            p {
              font-family: "Inter";
              font-size: 18px;
              font-weight: 400;
              line-height: 36px;
              opacity: 80%;
              max-width: 300px;
              margin-top: 10px;
            }
          }
        }
      }
      .trackImage {
        margin-top: 200px;
      }
      .position {
        position: absolute;
        img {
          position: absolute;
          &:nth-child(1) {
            top: -30px;
            left: -380px;
          }
          &:nth-child(2) {
            top: -600px;
            left: 1210px;
          }
          &:nth-child(3) {
            left: -80px;
            top: 200px;
          }
          &:nth-child(4) {
            top: -80px;
            left: 500px;
          }
        }
      }
    }
  }
  .work {
    .container {
      padding: 140px 541px;
      position: relative;
      .workTitleWrap {
        position: relative;
        h2 {
          font-size: 48px;
          font-weight: 600;
          line-height: 70px;
          color: var(--title-color);
          text-align: center;
          position: relative;
          z-index: 1;
        }
        img {
          position: absolute;
          top: 35px;
          left: 540px;
        }
      }
      .workDescription {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        color: var(--description-color);
        margin-bottom: 48px;
        opacity: 80%;
      }
      .monthlyYearlyBox {
        @include flex;
        gap: 20px;
        margin-bottom: 64px;
        p {
          color: var(--description-color);
          font-size: 24px;
          font-weight: 500;
          line-height: 28px;
        }
      }
      .workWrapper {
        @include flex;
        position: relative;
        z-index: 1;
        gap: 30px;
        .workWrap {
          border: 1px solid var(--bg-btn-color);
          border-radius: 110px;
          width: 470px;
          height: 608px;
          cursor: pointer;
          h2 {
            font-family: "Inter";
            font-size: 48px;
            font-weight: 600;
            line-height: 48px;
            text-align: center;
            padding-top: 48px;
            margin-bottom: 56px;
            color: var(--description-color);
          }
          .adventages {
            font-family: "Inter";
            font-size: 28px;
            font-weight: 600;
            line-height: 52px;
            text-align: center;
            color: var(--bg-btn-color);
            margin-top: 20px;
          }
          .price {
            margin-top: 64px;
            margin-bottom: 64px;
            text-align: center;
            span {
              font-family: "Inter";
              font-size: 64px;
              font-weight: 700;
              line-height: 64px;
              color: var(--description-color);
            }
            sup,
            sub {
              font-family: "Inter";
              font-size: 18px;
              font-weight: 500;
              line-height: 28px;
              opacity: 40%;
              padding: 5px;
            }
            sub {
              position: relative;
              top: -40px;
            }
          }
          button {
            background-color: var(--bg-btn-color);
            color: var(--main-color);
            padding: 24px 40px;
            border-radius: 40px;
            display: flex;
            margin: 0 auto;
          }

          &:hover * {
            color: var(--main-color);
          }
          &:hover .price * {
            color: var(--main-color);
          }
          &:hover {
            background-color: var(--bg-btn-color);
          }
          &:hover button {
            background-color: var(--main-color);
            color: var(--bg-btn-color);
          }
        }
      }
      .position {
        position: absolute;
      }
      .workOclock {
        top: 300px;
        right: 401px;
      }
      .hand {
        top: 614px;
        left: 0;
      }
    }
  }
  .partners {
    .container {
      @include flex;
      justify-content: space-between;
      padding: 120px 420px 80px 76px;
      gap: 100px;
      .partnersImages {
        @include flex;
        gap: 56px;

        .partnersLeft {
          @include flex;
          flex-direction: column;
          align-items: end;
          gap: 54px;
        }
        .partnersRight {
          @include flex;
          flex-direction: column;
          align-items: start;
          gap: 59px;
        }
      }
      .aboutPartners {
        .aboutTitle {
          position: relative;
          h2 {
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            color: var(--title-color);
            position: relative;
            z-index: 1;
          }
          img {
            position: absolute;
            top: 30px;
            left: 160px;
          }
        }
        .aboutPartnersDescription {
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          color: var(--description-color);
          max-width: 471px;
          margin-top: 24px;
          margin-bottom: 48px;
        }
        button {
          border: 1px solid var(--bg-btn-color);
        }
      }
    }
  }
  .comments {
    .container {
      padding: 156px 475px 157px 447px;
      position: relative;
      .commentsTitle {
        position: relative;
        text-align: center;
        h2 {
          position: relative;
          z-index: 1;
          color: var(--title-color);
          font-size: 48px;
          font-weight: 600;
          line-height: 70px;
        }
        img {
          position: absolute;
          top: 52px;
          left: 442px;
        }
      }
      .commentsDescription {
        color: var(--description-color);
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 60px;
        opacity: 80%;
      }
      .commentsBox {
        @include flex;
        gap: 48px;
        .commentsContent {
          .comment {
            color: var(--description-color);
            opacity: 80%;
            font-family: "Inter";
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            width: 632px;
            margin-bottom: 36px;
          }
          .author {
            h3 {
              font-family: "Inter";
              font-size: 24px;
              font-weight: 500;
              line-height: 24px;
              color: var(--authort-color);
            }
            p {
              font-family: "Inter";
              font-size: 18px;
              font-weight: 500;
              line-height: 26px;
              color: var(--authort-color);
              opacity: 70%;
              margin-top: 16px;
              margin-bottom: 28px;
            }
          }
        }
      }
      .position {
        position: absolute;
      }
      .emoji {
        top: 648px;
        right: 140px;
        z-index: 1;
      }
      .headerStar {
        bottom: 58px;
        right: 103px;
        width: 94px;
        height: 110px;
      }
      .chat {
        bottom: 116px;
        left: 232px;
      }
      .like {
        top: 38px;
        left: 56px;
        z-index: 1;
      }
      .alarmShape {
        top: 203px;
        left: 196px;
      }
    }
  }
  .ads {
    background-color: var(--header-bg-color);
    .container {
      padding: 137px 507px 0 357px;
      @include flex;
      justify-content: space-between;
      gap: 120px;
      position: relative;
      .adsContent {
        width: 559px;
        .adsTitleContent {
          position: relative;
          h3 {
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            color: var(--title-color);
            position: relative;
            z-index: 1;
          }
          img {
            position: absolute;
            top: 42px;
            left: 240px;
          }
        }
        .adsDescription {
          margin-top: 24px;
          margin-bottom: 48px;
          font-family: "Inter";
          font-size: 20px;
          font-weight: 400;
          line-height: 36px;
          color: var(--description-color);
          max-width: 529px;
          opacity: 80%;
        }
        .adsButtons {
          display: flex;
          align-items: center;
          gap: 20px;
          button {
            background-color: var(--bg-btn-color);
            color: var(--main-color);
            @include flex;
            border-radius: 40px;
            gap: 10px;
            svg {
              path {
                fill: var(--main-color);
              }
            }
            &:hover {
              color: var(--bg-btn-color);
              border: 1px solid var(--bg-btn-color);
              background-color: transparent;
            }
            &:hover svg path {
              fill: var(--bg-btn-color);
            }
          }
        }
      }
      .position {
        position: absolute;
      }
      .Image1 {
        left: 0;
        top: 11px;
      }
      .Image2 {
        bottom: 168px;
        right: 0;
      }
    }
  }
}